*{
    margin:0;
    padding:0
}
body{
    font-family:'Times New Roman', Times, serif
}
h1, h2, h3, h4, h5, h6{
    color:#00008b;
    font-family:cursive;
}
p{
    font-family:'Times New Roman', Times, serif;
}
span{
    font-weight: bold;
}
img{
    display:block;
}
a{
    color:#1e90ff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: #F00;
}